<h1> Portfolie Items </h1>

<%= link_to "Create New Item", new_portfoly_path %>

<% @portfolio_items.each do |item| %>
    <p><%= item.title %></p>
    <p><%= item.subtitle %></p>
    <p><%= item.body %></p>
    <%= image_tag item.main_image unless item.main_image.nil? %>
    <%= link_to "Edit", edit_portfoly_path(item.id) %>
<% end %>